<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <ul>
        <li>
            <a href = "/">HOME</a>
        </li>
        <li>
            <a href = "/user">USER</a>  <!--routing name not file name-->
        </li>
        <li>
            <a href = "/product">PRODUCT</a>
        </li>
        <li>  
            <a href = "/transaction">TRANSACTION</a>
        </li>
        <li>
            <a href = "/form">ADD PRODUCT</a>
        </li>
    </ul>
</body>
</html>